# Project

#### Import libraries

In [ ]:
import numpy as np;
import pandas as pd;

#### Loading the Dataset

In [32]:
df=pd.read_csv('payment_fraud1.csv')

#### Checking the missing Value

In [ ]:
print("Missing Value in each Value")
print(df.isnull().sum())

#### Replace of fill another value on the place of nan value in dataset

In [ ]:
df['accountAgeDays'].fillna(df['accountAgeDays'].mean(),inplace=True)
df['isWeekend'].fillna(df['isWeekend'].mean(),inplace=True)
df['paymentMethodAgeDays'].fillna(df['paymentMethodAgeDays'].median(),inplace=True)

#### Replace the inf and -inf

In [ ]:
df.replace([np.inf,-np.inf,],np.nan,inplace=True)
print(df.isnull().sum())
df.fillna(df['accountAgeDays'].mean(),inplace=True)
df.fillna(df['localTime'].median(),inplace=True)

#### Remove Duplicate Value

In [ ]:
df.drop_duplicates(inplace=True)

#### Replace negative Value

In [ ]:
df['accountAgeDays']=np.where(df['accountAgeDays']<5,df['accountAgeDays'].mean(),df['accountAgeDays'])
accountAgeDays_mean=df['accountAgeDays'].mean()

In [33]:
print(df.isnull().sum())
print(df.head())

accountAgeDays          2
numItems                0
localTime               0
paymentMethod           1
paymentMethodAgeDays    1
Category                0
isWeekend               1
label                   0
dtype: int64
   accountAgeDays  numItems  localTime paymentMethod  paymentMethodAgeDays  \
0            29.0         1   4.745402        paypal             28.204861
1           725.0         1   4.742303   storecredit                   NaN
2           845.0         1   4.921318    creditcard              0.000000
3           503.0         1   4.886641    creditcard              0.000000
4          2000.0         1   5.040929    creditcard              0.000000

      Category  isWeekend  label
0     shopping        0.0      0
1  electronics        0.0      0
2         food        1.0      0
3  electronics        1.0      0
4     shopping        0.0      0