# Interpolation

This is a technique where we fill any value if that are missing in its sequence means age column there 20,21,22,_,24,_,26,27

here missing two value so through interpolation we can fill the estimate value on the base of rest data in column
## Note:
    Mostly this method use when we are dealing with time series data like stockmarket , trading, numeric data with trends, we can't apply this method with nominal data or attributes etc

In [ ]:
import pandas as pd;

In [ ]:
data={
    "name":["shahid","basit","king","kumail","askari","siraj","shukoor","kazim","muhammad","sakina","khatija","kubra"],
    "age":[23,24,25,20,None,23,46,78,64,30,26,28],
    "salary":[3873,9472,None,2890,4232,3211,2222,4562,1234,3421,1235,7632],
    "performance Score":[85,23,45,None,14,45,67,78,90,33,66,88],

}
df=pd.DataFrame(data)
df

### Now Interpolation method

In [ ]:
df.interpolate(method="linear",axis=0,inplace=True)
df

# Sorting and Aggregation

### Sorting

In [ ]:
# Sorting data in 1 column trhough sort_values()
df.sort_values(by="age",ascending=False,inplace=True) # ascending=false/true
print("Sorted data by ascending: \n") 
df

In [ ]:
# Sorting data with multiple column

df.sort_values(by=['age','salary'],ascending=[True,False],inplace=True)
print("Sorting data on the base of multiple column:\n")
df

### Aggregation

the following are the aggregation methods like mean(),median(),mode(),sum(),max(), min()

In [3]:
avgSalary=df['salary'].mean()

print("Average Salary:",avgSalary)

Average Salary: 3998.5454545454545