# Pandas Library

#### Explore pandas lib from scratch

In [ ]:
import pandas as pd;

### Read Dataset from local device

In [ ]:
df=pd.read_csv('car_prices.csv') # we can read json, html, xlsx file with the help of pandas
print(f"First five Data:\n{df.head()}")
print(f"\nLast five Data:\n{df.tail()}")

### Custome Dataset and save in local device

In [ ]:
person={
    "personName":["basit","ali","muhammad"],
    "age":[23,44,19],
    "gender":["male","male","male"],
    "weight":[70.3,70,'2']
}

person=pd.DataFrame(person)

person.to_json("output.json",index=False)

## Info and descript Method

In [ ]:
# print("Infor of Dataset:",df.info()) # information about the whole dataset

data={
    "name":["shahid","basit","zeeshan","kumail","askari","siraj","shukoor","kazim","muhammad","sakina","khatija","kubra"],
    "age":[23,24,25,20,11,23,46,78,64,30,26,28],
    "salary":[3873,9472,2904,2890,4232,3211,2222,4562,1234,3421,1235,7632],
    "performance Score":[85,23,45,90,14,45,67,78,90,33,66,88],

}

sampledf=pd.DataFrame(data)
print("Sample DataFram:\n",sampledf)

print("Descriptive Statistics:")
print("\n",sampledf.describe())

## Shape and column

In [ ]:
print("Shape of dataframe",sampledf.shape)
print("Column of Dataset:",sampledf.columns)

## Filter and selecting

In [32]:
# Select single  Column

selectAge=sampledf["age"]
# print("Select single Column in Dataset\n",selectAge)

selectMultipleColumn=sampledf[["age","name","performance Score"]]
# print("Select Multiple Column in Dataset\n",selectMultipleColumn)\

filterAge=sampledf[sampledf["age"]>30]
print("Filter age:\n",filterAge)


filterMultipleCond=sampledf[(sampledf["age"]>30) & (sampledf["performance Score"]>70)]
print("Filter on multiple condition:\n",filterMultipleCond)
filterMultipleCondOr=sampledf[(sampledf["age"]>30) | (sampledf["performance Score"]>70)]
print("Filter on multiple condition o4:\n",filterMultipleCondOr)

Filter age:
        name  age  salary  performance Score
6   shukoor   46    2222                 67
7     kazim   78    4562                 78
8  muhammad   64    1234                 90
Filter on multiple condition:
        name  age  salary  performance Score
7     kazim   78    4562                 78
8  muhammad   64    1234                 90
Filter on multiple condition o4:
         name  age  salary  performance Score
0     shahid   23    3873                 85
3     kumail   20    2890                 90
6    shukoor   46    2222                 67
7      kazim   78    4562                 78
8   muhammad   64    1234                 90
11     kubra   28    7632                 88