# Pandas Library

#### Explore pandas lib from scratch

In [ ]:
import pandas as pd;

### Read Dataset from local device

In [ ]:
df=pd.read_csv('car_prices.csv') # we can read json, html, xlsx file with the help of pandas
print(f"First five Data:\n{df.head()}")
print(f"\nLast five Data:\n{df.tail()}")

### Custome Dataset and save in local device

In [ ]:
person={
    "personName":["basit","ali","muhammad"],
    "age":[23,44,19],
    "gender":["male","male","male"],
    "weight":[70.3,70,'2']
}

person=pd.DataFrame(person)

person.to_json("output.json",index=False)

In [ ]:
print("Infor of Dataset:",df.info()) # information about the whole dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB
Infor of Dataset: None