# How to Modify the dataset

## 1. Insert New column in Dataset

In [ ]:
import pandas as pd;
import matplotlib.pyplot as plt

In [ ]:
data={
    "name":["shahid","basit","zeeshan","kumail","askari","siraj","shukoor","kazim","muhammad","sakina","khatija","kubra"],
    "age":[23,24,25,20,11,23,46,78,64,30,26,28],
    "salary":[3873,9472,2904,2890,4232,3211,2222,4562,1234,3421,1235,7632],
    "performance Score":[85,23,45,90,14,45,67,78,90,33,66,88],

}
df=pd.DataFrame(data)

df.insert(0,"Std#",[10,20,30,40,50,60,70,80,90,100,110,120]) # df.insert(columnIndex,columnName,columnObjectData)
print("Data Frame is:\n",df)

# 2. Update any data in dataframe

In [ ]:
# update single value from dataset
update=df.loc[2,'age']=400 # loc update a specific value
print("Update data in dataFrame:\n",df)

In [ ]:
# update how column values in dataset
df['salary']=df['salary']*1.5
print("update whole column:\n ",df)

# 3.Removing Column from dataset

In [ ]:
# remove or drop single column from dataset
df.drop(columns=["Std#"],inplace=True)
print("After removing column: \n",df)


# remove or drop multiple column from dataset

df.drop(columns=["age","salary"])
print("Drop multiple column")

# 4. Handling Missing Value

In [ ]:
missingDataSet={
    "name":["shahid","basit",None,"kumail","askari","siraj","shukoor","kazim","muhammad","sakina","khatija","kubra"],
    "age":[23,24,25,20,None,23,46,78,64,30,26,28],
    "salary":[3873,9472,None,2890,4232,3211,2222,4562,1234,3421,1235,7632],
    "performance Score":[85,23,45,None,14,45,67,78,90,33,66,88],

}

df1=pd.DataFrame(missingDataSet)

# print("Feature are:\n",df1)
# print("Information about feature:\n",df1.info()) # return the information about data or feature
print("Check for null value:\n",df1.isnull()) # return ture if there have any null value

Check for null value:
      name    age  salary  performance Score
0   False  False   False              False
1   False  False   False              False
2    True  False    True              False
3   False  False   False               True
4   False   True   False              False
5   False  False   False              False
6   False  False   False              False
7   False  False   False              False
8   False  False   False              False
9   False  False   False              False
10  False  False   False              False
11  False  False   False              False