# How to Modify the dataset

## 1. Insert New column in Dataset

In [ ]:
import pandas as pd;
import matplotlib.pyplot as plt

In [ ]:
data={
    "name":["shahid","basit","zeeshan","kumail","askari","siraj","shukoor","kazim","muhammad","sakina","khatija","kubra"],
    "age":[23,24,25,20,11,23,46,78,64,30,26,28],
    "salary":[3873,9472,2904,2890,4232,3211,2222,4562,1234,3421,1235,7632],
    "performance Score":[85,23,45,90,14,45,67,78,90,33,66,88],

}
df=pd.DataFrame(data)

df.insert(0,"Std#",[10,20,30,40,50,60,70,80,90,100,110,120]) # df.insert(columnIndex,columnName,columnObjectData)
print("Data Frame is:\n",df)

# 2. Update any data in dataframe

In [ ]:
# update single value from dataset
update=df.loc[2,'age']=400 # loc update a specific value
print("Update data in dataFrame:\n",df)

In [ ]:
# update how column values in dataset
df['salary']=df['salary']*1.5
print("update whole column:\n ",df)

# 3.Removing Column from dataset

In [ ]:
# remove or drop single column from dataset
df.drop(columns=["Std#"],inplace=True)
print("After removing column: \n",df)


# remove or drop multiple column from dataset

df.drop(columns=["age","salary"])
print("Drop multiple column")

# 4. Handling Missing Value

In [52]:
missingDataSet={
    "name":["shahid","basit",None,"kumail","askari","siraj","shukoor","kazim","muhammad","sakina","khatija","kubra"],
    "age":[23,24,25,20,None,23,46,78,64,30,26,28],
    "salary":[3873,9472,None,2890,4232,3211,2222,4562,1234,3421,1235,7632],
    "performance Score":[85,23,45,None,14,45,67,78,90,33,66,88],

}
df1=pd.DataFrame(missingDataSet)

print("Feature are:\n",df1)
print("Information about feature:\n",df1.info()) # return the information about data or feature
print("Check for null value:\n",df1.isnull()) # return ture if there have any null value
print("Count how many null value here in data set:\n",df1.isnull().sum())

Feature are:
         name   age  salary  performance Score
0     shahid  23.0  3873.0               85.0
1      basit  24.0  9472.0               23.0
2       None  25.0     NaN               45.0
3     kumail  20.0  2890.0                NaN
4     askari   NaN  4232.0               14.0
5      siraj  23.0  3211.0               45.0
6    shukoor  46.0  2222.0               67.0
7      kazim  78.0  4562.0               78.0
8   muhammad  64.0  1234.0               90.0
9     sakina  30.0  3421.0               33.0
10   khatija  26.0  1235.0               66.0
11     kubra  28.0  7632.0               88.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               11 non-null     object
 1   age                11 non-null     float64
 2   salary             11 non-null     float64
 3   performance Score  11 non-null     float64
dtypes: float64(3), object(1)
memory usage: 516.0+ bytes
Information about feature:
 None
Check for null value:
      name    age  salary  performance Score
0   False  False   False              False
1   False  False   False              False
2    True  False    True              False
3   False  False   False               True
4   False   True   False              False
5   False  False   False              False
6   False  False   False              False
7   False  False   False              False
8   False  False   False              False
9   False  False   False              False
10  False  False   False              False
11  False  False   False              False
Count how many null value here in data set:
 name                 1
age                  1
salary               1
performance Score    1
dtype: int64

## dropna() and fillna()

In [ ]:
# dropna()
# note in real project we don't remove the value , we replace the null values with another value which is exits in dataframe means don't use this method mostly with real project we use fillna() method

df1.dropna(inplace=True) # dropna(axis=0/1,inplace=True) , this method return whole dataset or dataframe after remove the null or none or empty value means remvoe whole rows if there detect missing value

print("dataset after removing the missing values:\n",df1)

In [ ]:
# fillna()

# df1.fillna(0,inplace=True) # this replace all missing or null value with 0 but this is not good

df1['age'].fillna(df['age'].mean(),inplace=True)
df1['name'].fillna(df['name'].mode(),inplace=True)
df1['salary'].fillna(df['salary'].min(),inplace=True)
print("Replace the null values with any other values:\n",df1)


sum=df1['salary'].min()
mean=df1['salary'].mean()
print("Sum is: ",sum)
print("mean is: ",mean)

Replace the null values with any other values:
         name        age  salary  performance Score
0     shahid  23.000000  3873.0               85.0
1      basit  24.000000  9472.0               23.0
2      kazim  25.000000  1851.0               45.0
3     kumail  20.000000  2890.0                NaN
4     askari  64.416667  4232.0               14.0
5      siraj  23.000000  3211.0               45.0
6    shukoor  46.000000  2222.0               67.0
7      kazim  78.000000  4562.0               78.0
8   muhammad  64.000000  1234.0               90.0
9     sakina  30.000000  3421.0               33.0
10   khatija  26.000000  1235.0               66.0
11     kubra  28.000000  7632.0               88.0
Sum is:  1234.0
mean is:  3819.5833333333335

C:\Users\aaa\AppData\Local\Temp\ipykernel_20432\2749389561.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['age'].fillna(df['age'].mean(),inplace=True)
C:\Users\aaa\AppData\Local\Temp\ipykernel_20432\2749389561.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['salary'].fillna(df['salary'].min,inplace=True)