# How to Modify the dataset

## 1. Insert New column in Dataset

In [ ]:
import pandas as pd;
import matplotlib.pyplot as plt

In [ ]:
data={
    "name":["shahid","basit","zeeshan","kumail","askari","siraj","shukoor","kazim","muhammad","sakina","khatija","kubra"],
    "age":[23,24,25,20,11,23,46,78,64,30,26,28],
    "salary":[3873,9472,2904,2890,4232,3211,2222,4562,1234,3421,1235,7632],
    "performance Score":[85,23,45,90,14,45,67,78,90,33,66,88],

}
df=pd.DataFrame(data)

df.insert(0,"Std#",[10,20,30,40,50,60,70,80,90,100,110,120]) # df.insert(columnIndex,columnName,columnObjectData)
print("Data Frame is:\n",df)

# 2. Update any data in dataframe

In [ ]:
# update single value from dataset
update=df.loc[2,'age']=400
print("Update data in dataFrame:\n",df)

In [ ]:
# update how column values in dataset
df['salary']=df['salary']*1.5
print("update whole column:\n ",df)

# Removing Column from dataset

In [ ]:
# remove or drop single column from dataset
df.drop(columns=["Std#"],inplace=True)
print("After removing column: \n",df)


# remove or drop multiple column from dataset

df.drop(columns=["age","salary"])
print("Drop multiple column")

After removing column:
         name  age   salary  performance Score
0     shahid   23   5809.5                 85
1      basit   24  14208.0                 23
2    zeeshan  400   4356.0                 45
3     kumail   20   4335.0                 90
4     askari   11   6348.0                 14
5      siraj   23   4816.5                 45
6    shukoor   46   3333.0                 67
7      kazim   78   6843.0                 78
8   muhammad   64   1851.0                 90
9     sakina   30   5131.5                 33
10   khatija   26   1852.5                 66
11     kubra   28  11448.0                 88