# How to Modify the dataset

## 1. Insert New column in Dataset

In [1]:
import pandas as pd;
import matplotlib.pyplot as plt

In [ ]:
data={
    "name":["shahid","basit","zeeshan","kumail","askari","siraj","shukoor","kazim","muhammad","sakina","khatija","kubra"],
    "age":[23,24,25,20,11,23,46,78,64,30,26,28],
    "salary":[3873,9472,2904,2890,4232,3211,2222,4562,1234,3421,1235,7632],
    "performance Score":[85,23,45,90,14,45,67,78,90,33,66,88],

}
df=pd.DataFrame(data)

df.insert(0,"Std#",[10,20,30,40,50,60,70,80,90,100,110,120])
print("Data Frame is:\n",df)